{% extends "base.html" %}
{% import "partials/components.html" as comp %}
{% block header %}Courses{% endblock %}
{% block content %}
    <div class="mb-6">
        {{ comp.btn(text='Create Course', href=url_for('course.create_course')) }}
    </div>

    {% call comp.card(title='Available Courses') %}
        <ul class="divide-y divide-gray-200">
            {% for course in courses %}
            <li class="py-4">
                <a href="{{ url_for('course.view_course', course_id=course.id) }}" class="text-indigo-600 hover:text-indigo-900 font-medium">{{ course.name }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endcall %}
{% endblock %}
