Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-SocketIO
Flask-Bcrypt
Flask-JWT-Extended
Flask-WTF
celery
redis
psycopg2-binary
python-dotenv
langchain
langchain-community
langchain-google-genai
google-generativeai
pytest
pytest-flask
gunicorn==22.0.0
eventlet
greenlet
